/*------------------------------------------BOOSTRAP LOGIN -------------------------------*/

body {
    margin: 0;
    color: #548590;
    background: #000000db;
    background-image: url("./img/fondo.jpg");
    font: 600 16px/18px 'ABeeZee', sans-serif;
}

.loginStyle {
    margin: auto;
    left: 100px
}


.login-box {
    width: 100%;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    margin: auto;
    
}

.login-snip {
    width: 100%;
    position: absolute;
    padding: 50px 70px 50px 70px;
    background: rgb(0 0 0 / 90%);
}

.login-snip h1 {
    display: flex;
    justify-content: center;
    font-family: Showcard Gothic;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: #FDFDFD;

}

#ghost{
    position: absolute;
    height: 90px;
    right: 60px;
    top: 20px;

}

.login-snip p {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FDFDFD;
    margin-bottom: 10%;
    margin-top: 5%;
}

.login-snip .login,
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase
}

.login-snip .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 15px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee
}

#google_icon {
    width: 40px;
    right: 35px;
    top: 285px;
    position: absolute;
}

.googleAccount {
    width: 300px;
    margin: auto;
    height: 60px;
    margin-top: 8%;

}

.googleAccount a {
    text-align: center;
}

.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group {
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
    width: 100%;
    color: #fff;
    display: block
}

.login-space .group .input,
.login-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.login-space .group input[data-type="password"] {
    -webkit-text-security: circle
}

.login-space .group .label {
    color: #aaa;
    font-size: 12px
}

.login-space .group .button {
    background: #1161ee
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.login-space .group .check:checked+label {
    color: #fff
}

.login-space .group .check:checked+label .icon {
    background: #1161ee
}

.login-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
    transform: rotate(0)
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 30px 0 0px 0;
    background: rgba(255, 255, 255, .2)
}

.foot {
    text-align: center
}

.card {
    margin: auto;
}

::placeholder {
    color: #b3b3b3
}

/*------------------------------------------BOOSTRAP HOME -------------------------------*/

  .jumbotron {
      background-color: black;
      height: 48px;
  }

  .jumbotronFooter {
    background-color: black;
    height: 48px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  
  #logo {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
  }

  h1{
    font-family: Showcard Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    padding-left: 20px;
    
    color: #FDFDFD;
  }

  #ghostHome {
    height: 58px;
    margin: -13px 0;
    padding-right: 20px;

  }

  .container{
      background-color: #000000db;
      padding-top: 20px;
  }

  #navBar{
    background: #D8CEF3;
    border: 1px solid #000000;
    box-sizing: border-box;
  }

  ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: -50px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

li{
    display: inline;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: -5%;
    box-sizing: border-box;
    padding: auto 150px auto 15px;
}

#description {
    margin-top: 50px;
    width: 90%;
    height: 146px;
    resize: none;
    padding: 10px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #494545;

}

#post {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10%;
}

.hr1 {
    border: 3px solid #423D3D;
    margin-top: 20px;
}

.homeBackground {
    background:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('./img/fondo.jpg');
}

.saveComment {
    background: #CFD7F3;
    border: 1px solid #3A3838;
    box-sizing: border-box;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    margin-top: 15px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.homeComments {
    color: #000000;
    background-color: beige;
    margin-top: 50px;
    width: 82%;
    resize: none;
    padding: 10px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #494545;
    white-space: break-spaces;
    overflow: auto;
}

.delete{
    background: #CFD7F3;
    border: 1px solid #3A3838;
    box-sizing: border-box;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    margin-top: 15px;
}

.edit {
    background: #CFD7F3;
    border: 1px solid #3A3838;
    box-sizing: border-box;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    margin-top: 15px;
}